body{
  font-family: 'Balsamiq Sans', cursive;
  font-size: 16px;
}
.title{
  margin-left: 290px;
  color: black;
  font-size: 25px;
  margin-top: 50px;
}
hr{
	border: 1px solid black;	
}
.dept{
  margin-left: 280px;
}
th,td{
  padding: 15px;
  text-align: center;
  //border-left: 1px solid #909090;
}
.dept td{
  border: none;
}
.none{
  border: none;
}
.subbtn{
  width : 180px;
  height : 50px;
  border-radius : 8px;
  cursor : pointer;
}
.subbtn:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/*td{
  padding: 15px;
  text-align: center;
  border-left: 1px solid #909090;
}*/
tr{
  border-bottom: 1px solid black;
}
.subject {
  margin-left: 280px;
  border-collapse: collapse;
  margin-bottom:50px;
}
@CHARSET "ISO-8859-1";